ci:
  autofix_commit_msg: "[pre-commit.ci] Fixing issues with pre-commit"
  autofix_prs: true # prs = pull requests
  autoupdate_branch: "master"
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit automatically updated revs."
  autoupdate_schedule: weekly
  skip:
    [clang-tidy]
    # we skip clang-tidy because it requires a build directory, but we can't build the C++ package with pre-commit.ci
    # so we use GitHub Actions for that instead
  submodules: false # Whether to update submodules during autoupdate

fail_fast: false # Continue running other hooks even if one fails

repos:
  # Ruff: Linter and Formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.7
    hooks:
      - id: ruff
        args: ["--fix"]
        types_or: ["python", "pyi"]
      # Formatting with Ruff
      - id: ruff-format

  # Codespell: Spell checker
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --skip=*.js,*.html,*.css,*.pdf,*.png,*.csv,*.pkl,*.json,*.xml
          - --ignore-words-list=teh,fo,bar,tesselator,Tesselator,tesselation,tesselate
        files: '\.(py|md|c|cpp|h|hpp)$'

  # Mypy: Static type checker (local hook)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy --strict
        language: python
        types: ["python"]
        files: "\\.py$"

  # Numpydoc Validation: Ensure docstring compliance
  - repo: https://github.com/numpy/numpydoc
    rev: v1.8.0
    hooks:
      - id: numpydoc-validation
        files: ^(src|tests)/.*\.py$

  # Cppcheck: C++ static analysis
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: clang-format
        args: [--style=file]
      - id: clang-tidy # you need to have build the C++ project with CMake first
        args: [-p=src/mechanical_layer/build]
      - id: cpplint
        args: [--filter=-runtime/string]
        exclude: src/mechanical_layer/3rdparty/tinyxml/tinyxml2\.(h|cpp)$

  # Doxygen: Documentation generator
  - repo: local
    hooks:
      - id: check-doxygen
        name: check-doxygen
        entry: ./.check-doxygen.sh
        files: \.(h|hpp|cpp|c)$
        language: system
        pass_filenames: false

  # Test of python functions
  - repo: local
    hooks:
      - id: uv-pytest
        name: pytest
        entry: uv run pytest
        language: system
        pass_filenames: false
        always_run: true
        types: ["python"]

  # Run the copyright test script
  - repo: local
    hooks:
      - id: check-copyright
        name: check-copyright
        entry: ./.check-copyright.sh
        language: system
        pass_filenames: false
        always_run: true
